body {
    background-color: gold;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    border: 13px 14px;
    padding: 17px 19px;
    border-radius: 17px;
    margin: 160px 199px;
}

.main img {
    padding: 18px;
    color: white;
    width: 350px;
}

.btu button {
    border-radius: 17px;
    background-color: gold;
}