                        body {
                            background-color: gold;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                        
                        header {
                            padding: 17px 18px 13px 24px;
                            background-color: white;
                            padding: 17px;
                            margin: 7% 290px;
                        }
                        
                        .main img {
                            color: white;
                            width: 350px;
                        }
                        
                        .btu button {
                            border-radius: 17px;
                            background-color: gold;
                        }
                        
                        .svg {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        
                        .svg img {
                            width: 70px;
                        }
                        
                        .svg b {
                            font-size: 40px;
                        }