                        body {
                            background-color: gold;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                        
                        header {
                            padding: 17px 18px;
                            background-color: white;
                            padding: 17px;
                            border-radius: 17px;
                            margin: 7% 290px;
                        }
                        
                        .main img {
                            width: 800px;
                            padding: 18px 17px;
                            color: white;
                            width: 350px;
                        }
                        
                        .btu button {
                            border-radius: 17px;
                            background-color: gold;
                        }
                        
                        .svg {}
                        
                        .svg img {
                            width: 70px;
                        }
                        
                        .svg b {
                            font-size: 25px;
                        }